# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore uploaded marksheets
uploads/
*.pdf
*.jpg
*.jpeg
*.png
*.webp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore logs
*.log
